* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(31, 28, 28);
  }
  
  .gameHolder {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .gameHolder h1 {
    text-align: center;
    padding: 5px;
    color: white;
  }
  
  .gameHolder a {
    color: rgb(197, 227, 255);
  }
  
  .gameHolder p {
    color: rgb(150, 150, 150);
  }